* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-header: #FC6800;
    --color-sostenibilità:  #007C00;
    --color-discount: #ff0000;
    --color-text :#1C1B1C;
    --color-primary: #FFFFFF;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* section-header */
header {
    background-color: var(--color-header);
}


.header-size {
    width: 100%;
}

.logo {
    width: 20%;
    margin-left: 300px;
    padding-top: 5px;
 }
 a {
    text-decoration: none;
    color: var(--color-primary);
    padding: 2px;
 }
 a:hover {
    text-decoration: underline;
}
.color-a {
    color: var(--color-primary);
}

/* flex */
.d-flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: space-between;
}
.f-center{
    justify-content: center;
    }
.r-flex {
     display: flex;
     flex-direction: row
    }

    /* main */
.card-wrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
}
.card {
        width: calc(100% / 3); 
        padding-top: 20px;
        padding-bottom: 50px;
        min-width: 300px;
        padding-right: 5px;
        position: relative;
}

img {
    width: 100%;

}
.discount-red { 
    background-color: var(--color-discount);
    position: absolute;
    left: 0;
    bottom: 80px;
    padding: 2px;
    display: inline-block;
}
.discount-green {
    background-color: var(--color-sostenibilità);
    position: absolute;
    left:45px;
    bottom: 80px;
    padding: 2px;
}
.Heart {
    position: absolute;
    top:30px;
    right: 5px;
    background-color: var(--color-primary);
   font-size: 1.8em;
   width: 8%;
   text-align: center;
}
/* footer */
footer {
    background-color: var(--color-text);
}
h4, h5 {
    color: var(--color-primary);
    padding: 5px;
}
.size-footer {
    padding: 10px 0;
}
.link-footer {
    font-size: 0.8em;
}
/* bonus */
.card-content:hover .img-primary {
    display: none;
}
.img-secondary .discount-green .discount-red .Heart{
    display: none;
}
.card-content:hover .img-secondary {
    display: block;
    cursor: pointer;
}
.img-secondary {
    display: none;
}
.Heart:hover {
    color: var(--color-discount);
    cursor: pointer;
}
